@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-green: 27 139 106;
    --color-grey: 240 240 240;
    --color-primary: var(--color-green);
  }
}

.main-page-height {
  min-height: calc(100vh - 120px);
}

.btn-border{
  @apply w-40 rounded-xl border-2 border-primary px-10 py-3 text-primary bg-white;
}
.btn-full{
  @apply  w-40 rounded-lg bg-primary bg-gradient-to-b from-green-600 to-green-900 py-3 px-10 text-white;
}